# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - PegasusTransportPortal

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    environment: production
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        working-directory: ./pegasus-frontend
        env:
          VITE_BACKEND_URL: ${{ secrets.VITE_BACKEND_URL }}  
          VITE_GOOGLEMAPS: ${{ secrets.VITE_GOOGLEMAPS }}
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Copy web.config to dist
        working-directory: ./pegasus-frontend
        run: |
         copy web.config dist/web.config    
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./pegasus-frontend/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7C0C0BAD720C49D8875DEC10C918640A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_ABB458F410B744888D3E33477356BF78 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A40B70F1B642490AB8D5BCF923149A99 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'PegasusTransportPortal'
          slot-name: 'Production'
          package: .

          


